* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f9fc;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 10px;
}

.container0 {
    /* max-width: 550px; */
    padding: 15%;
    margin: 8%;
    background-color: #6adacb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.container {
    width: 98%;
    /* max-width: 1000px; */
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #222;
    text-align: center;
}

label {
    font-size: 1em;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
}

input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
}

button {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    background-color: #5c9ded;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a8cd4;
}

#responseMessage {
    margin-top: 15px;
    color: green;
    text-align: center;
}

.header {
    /* display: flex; */
    align-items: center;
    justify-content: center;
/* background: linear-gradient(90deg, #007bff, #00c6ff, #007bff);    padding: 10px 20px; */
background: linear-gradient(90deg, #006cf6, #ff0c00, #0064ff);
    color: white;
    text-align: center;
}

.header img {
    width: 40px;
    margin-right: 10px;
}

h1, h4 {
    margin: 0;
    text-align: center;
}

.logo {
    width: 50px;
    vertical-align: middle;
}

 /* Navbar styling */
 .navbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #006cf6, #ff0c00, #0064ff);
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 16px;
    margin: 0 5px;
    border: dotted;
}

.navbar a:hover {
    background-color: #ff0a0a;
    border-radius: 4px;
}

.header {
    text-align: center;
    color: white;
}

